.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em 1em;
}

.alert-visible {
    visibility: visible;
    display: block;
}

.alert-hidden {
    visibility: hidden;
    display: none;
}